$color-main: #111111;
$color-main-light: #333333;
$color-accent: #a67e6e;
$color-accent-dark: #b27e6e;
$color-accent-light: #c29c78;
$color-accent-very-light: #f9f7f4;
$color-ambient: #beb5ab;
$color-background: #fdf8f2;
$color-background-alt: #f5ede4;
$color-pale: #e9e4dd;

$color-brownish-grey: #69625e;
$color-grey: #979797;
$color-light-grey: #9e9090;

$grid-gutter-width: 12px;
