@import "_variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "_fonts";

body,
html {
  background: $color-background;
  font-family: Malaga;
  font-size: 16px;
  line-height: normal;
  color: $color-main;
}

a {
  color: $color-accent;
  text-decoration: underline;
  &:hover {
    color: $color-accent;
    text-decoration: none;
  }
}

header {
  height: 60px;
  background-color: $color-main;
  border-bottom: 2px solid $color-accent;
  position: relative;

  .logo {
    position: absolute;
    top: 32px;
    left: 20px;
    img {
      width: 90px;
      height: 47px;
    }
    @include media-breakpoint-up(sm) {
      top: 24.3px;
      img {
        width: 120px;
        height: 61.7px;
      }
    }
  }

  nav {
    margin-right: 23.5px;
    a {
      color: $color-accent-dark;
      font-size: 16px;
      line-height: 60px;
      padding-left: 40.5px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $color-accent-dark;
      }
    }
  }
}

.steps {
  margin-top: 81px;
  margin-bottom: 64px;
  @include media-breakpoint-up(sm) {
    margin-bottom: 80px;
  }
  h1 {
    font-family: BrothersRegular;
    color: $color-accent-light;
    font-size: 32px;
    width: 260px;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
      font-size: 36px;
      line-height: 1.25;
      width: 100%;
      margin-bottom: 8px;
    }
  }
  .subtitle {
    font-family: Malaga;
    font-weight: bold;
    font-style: italic;
    line-height: 24px;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 32px;
    @include media-breakpoint-up(sm) {
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }
  .step {
    padding-top: 48px;
    max-width: 280px;
    margin: 0 auto;
    .title {
      color: $color-main-light;
      font-size: 24px;
      font-family: Malaga;
      font-weight: bold;
      line-height: 45px;
      margin: 8px 0 0 0;
    }
    p {
      margin-top: 8px;
      line-height: 21px;
    }
  }
}

.title-image {
  position: relative;
  height: 375px;
  min-height: 375px;
  @include media-breakpoint-up(sm) {
    height: 480px;
    min-height: 480px;
  }
  .parallax {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/hero_image_personalize_mobile_02.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-up(sm) {
      background-image: url(../../assets/hero_image_personalize_desktop_02.jpg);
    }
  }
  h2 {
    margin: 0 auto;
    padding-top: 160px;
    color: $color-accent-very-light;
    font-family: BrothersRegular;
    line-height: 1;
    font-size: 36px;
    width: 300px;
    text-align: center;
  }
}

.main {
  padding: 0 29px 64px 26px;
  position: relative;
}
main {
  background: $color-background-alt;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
  margin-top: -75px;
  padding-left: 19px;
  padding-right: 21px;
  @include media-breakpoint-up(sm) {
    max-width: 760px;
    margin: -128px auto 0 auto;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 0.94;
    padding: 55px 25px 17px 33px;
  }
  .h2-divider {
    background-color: $color-accent-light;
  }
  .form-part-divider {
    width: 100%;
    @include media-breakpoint-up(sm) {
      max-width: 640px;
    }
  }
}

/* Form */
.form-part {
  padding-top: 48px;
}
.form-part-title {
  font-style: italic;
  padding: 0 24px 8px 24px;
  @include media-breakpoint-up(sm) {
    width: 295px;
    margin: 0 auto;
  }
  &.wider {
    @include media-breakpoint-up(sm) {
      width: 300px;
    }
  }
}
.form-radio {
  .form-option {
    cursor: pointer;
    margin-top: 16px;
    border: 1px solid $color-pale;
    background-color: $color-background;
    height: 100px;
    color: $color-accent;
    position: relative;
    @include media-breakpoint-up(sm) {
      width: 180px;
      flex-grow: unset;
      flex-basis: auto;
      margin: 16px 10px 0 10px;
    }
    .label {
      font-family: Nitti;
      max-width: 120px;
      margin: 0 auto;
    }
    .disclaimer {
      color: $color-brownish-grey;
      font-size: 12px;
      font-style: italic;
      line-height: 1.3;
      max-width: 150px;
    }
    .price {
      font-weight: bold;
      width: 180px;
      border-top: 1px solid #eae6e1;
      padding-top: 7px;
      margin-top: 9px;
      @include media-breakpoint-up(sm) {
        width: 140px;
      }
    }
    svg {
      fill: $color-accent-very-light;
      position: absolute;
      right: 1px;
      top: 2px;
      z-index: 2;
    }
    &.selected {
      border: 2px solid $color-accent-dark;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-left: 21px solid $color-accent-dark;
        transform: rotate(-45deg);
        position: absolute;
        top: -14px;
        right: -4px;
      }
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        background-image: url(../../assets/check.svg);
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 1;
      }
    }
  }
}
.form-disclaimer {
  padding: 40px 14px 40px 15px;
  color: $color-grey;
  font-size: 12px;
  line-height: 1.3;
  font-style: italic;
  @include media-breakpoint-up(sm) {
    max-width: 515px;
    margin: 0 auto;
  }
}
.form-fields {
  padding-top: 6px;
  @include media-breakpoint-up(sm) {
    max-width: 380px;
    margin: 0 auto;
  }
  input,
  textarea,
  select {
    margin-top: 18px;
    width: 100%;
    background-color: $color-accent-very-light;
    border: 1px solid $color-ambient;
    font-family: Nitti;
    font-size: 14px;
    padding: 12px;
    color: $color-main-light;
    &:focus {
      outline: none;
      border-color: $color-accent-dark;
    }

    &::placeholder {
      color: $color-light-grey;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $color-light-grey;
    }

    &::-ms-input-placeholder {
      color: $color-light-grey;
    }
    &.error {
      border-color: #d43333;
    }
  }
  input,
  select {
    height: 46px;
  }
  textarea {
    height: 140px;
    resize: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url(../../assets/arrow.svg) no-repeat right 10px center
      $color-accent-very-light;
    &:ms-expand {
      display: none;
    }
    &.empty {
      color: $color-light-grey;
    }
    option {
      color: $color-main-light;
    }
  }
}
.form-personal-message {
  position: relative;
  a {
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-size: 12px;
    font-family: Nitti;
    text-decoration: underline;
  }
}
.form-button {
  padding: 40px 0 64px 0;
  input {
    color: $color-accent-very-light;
    background-color: #398039;
    border: none;
    height: 56px;
    width: 100%;
    text-shadow: 1px 1px 0 rgba(34, 34, 34, 0.3);
    font-family: Nitti;
    font-size: 14px;
    &:focus {
      outline: none;
    }
    &.disabled {
      background: $color-brownish-grey;
      cursor: default;
    }
    @include media-breakpoint-up(sm) {
      max-width: 260px;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-up(sm) {
    padding-bottom: 80px;
  }
}

.questions {
  background-color: $color-background-alt;
  padding: 64px 27px;
  @include media-breakpoint-up(sm) {
    padding: 85px 27px 88px 27px;
  }
  h2 {
    font-family: Malaga;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 18px;
  }
  a {
    line-height: 24px;
    font-family: Malaga;
    font-style: italic;
  }
  .container {
    max-width: 760px;
    position: relative;
  }
  .col-sm:last-child {
    @include media-breakpoint-up(lg) {
      padding-left: 50px;
    }
  }
  .picto-seal {
    @include media-breakpoint-up(xl) {
      display: block;
    }
    display: none;
    position: absolute;
    left: 100%;
    top: 2px;
    width: 158.5px;
    height: 158.5px;
  }
}

.brands {
  padding: 110px 18px 110px 17px;
  img {
    width: 100%;
    max-width: 1100px;
  }
}

footer {
  background: $color-main;
  border-top: 2px solid $color-accent;
  padding: 48px 0;
  color: $color-accent-very-light;
  font-size: 12px;
  line-height: 18px;
  font-family: Nitti;
  letter-spacing: 0;
  @include media-breakpoint-up(sm) {
    padding: 20px 0 24px 0;
  }
  a {
    color: $color-accent;
    text-decoration: underline;
    &:hover {
      color: $color-accent;
      text-decoration: none;
    }
  }
}

/* Common elements */
.divider {
  height: 2px;
  width: 50px;
  margin: 0 auto;
  background-color: $color-ambient;
}

@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}
